<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="abrirCategorias()">Categorias</ion-button>
    </ion-buttons>
    <ion-title>Lista de Tarefas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirFormulario()">Adicionar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="vm">
    <ion-list *ngIf="vm.items().length > 0; else vazio">
      <ion-item *ngFor="let task of vm.items()">
        <ion-checkbox
          slot="start"
          [checked]="task.completed"
          (ionChange)="alternarStatus(task)"
        ></ion-checkbox>
  
        <ion-label class="ion-text-wrap">
          <h2 [class.completed]="task.completed">{{ task.title }}</h2>
          <p>{{ task.description }}</p>
        
          <p *ngIf="task.categoryId" [style.color]="vm.getCategoryById(task.categoryId)?.color">
            <ion-icon name="pricetag" ></ion-icon>
            {{ vm.getCategoryById(task.categoryId)?.name }}
          </p>
        
          <p *ngIf="task.reminderDate">
            <ion-icon name="calendar"></ion-icon>
            {{ task.reminderDate | date: 'dd/MM/yyyy HH:mm' }}
          </p>
        </ion-label>
  
        <ion-buttons slot="end">
          <ion-button fill="clear" color="primary" (click)="editar(task)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="deletar(task.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ng-container>
  

  <ng-template #vazio>
    <ion-text color="medium">
      <p class="ion-text-center">Nenhuma tarefa encontrada.</p>
    </ion-text>
  </ng-template>
</ion-content>